aioredis==1.3.1
alembic==1.4.2
amqp==2.6.1
aniso8601==3.0.0
appdirs==1.4.3
APScheduler==3.5.1
arrow==0.15.5
asgiref==3.2.7
asn1crypto==0.24.0
astroid==2.3.3
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.12.3
Automat==20.2.0
autopep8==1.5.1
awsebcli==3.14.1
backports.functools-lru-cache==1.6.1
bcrypt==3.1.7
beautifulsoup4==4.9.0
bibtexparser==1.1.0
billiard==3.6.3.0
black==19.3b0
bleach==3.2.1
blessed==1.15.0
blinker==1.4
boto3==1.12.33
botocore==1.15.49
bs4==0.0.1
cached-property==1.4.3
celery==4.4.7
cement==2.8.2
certifi==2018.4.16
cffi==1.14.4
channels==2.4.0
channels-redis==3.1.0
chardet==3.0.4
click==6.7
colorama==0.3.9
configobj==5.0.6
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
coveralls==2.1.2
cryptography==3.3.1
daphne==2.5.0
defusedxml==0.5.0
distlib==0.3.0
Django==2.2.11
django-allauth==0.44.0
django-cors-headers==3.5.0
django-crispy-forms==1.9.1
django-extensions==3.1.0
django-filter==2.4.0
django-flat-json-widget==0.1.2
django-leaflet==0.27.1
django-loci==0.4
django-model-utils==4.0.0
django-notifications-hq==1.6.0
django-organizations==1.1.2
django-otp==0.8.1
django-phonenumber-field==5.0.0
django-redis==4.12.1
django-rest-knox==2.3.0
django-rest-swagger==2.1.1
django-reversion==3.0.8
django-sortedm2m==3.0.2
django-taggit==1.3.0
django-templated-mail==1.1.1
django-x509==0.9.2
djangorestframework==3.11.0
djangorestframework-gis==0.16
djangorestframework-simplejwt==4.3.0
djangorestframework-yaml==1.0.3
djoser==2.0.3
dnspython==1.16.0
docker==3.4.0
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
drf-yasg==1.17.1
entrypoints==0.3
filelock==3.0.12
flake8==3.8.4
Flask==1.0.2
Flask-JWT-Extended==3.10.0
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
flask-restplus==0.11.0
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
future==0.16.0
geographiclib==1.50
geopy==2.0.0
gobject==0.1.0
gunicorn==20.0.4
heroku==0.1.4
hiredis==1.1.0
hyperlink==20.0.1
idna==2.6
importlib-metadata==1.6.0
importlib-resources==1.5.0
incremental==17.5.0
inflection==0.5.1
iniconfig==1.1.1
isort==5.7.0
itsdangerous==0.24
itypes==1.2.0
Jinja2==2.10
jmespath==0.9.3
jsonfield==3.1.0
jsonschema==3.2.0
kombu==4.6.11
lazy-object-proxy==1.4.3
Mako==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.2
netjsonconfig==0.9
numpy==1.18.2
oauthlib==3.0.0
openapi-codec==1.3.2
-e git://github.com/openwisp/openwisp-controller@0d600bc8c0071585e87b190be6b522900ff4db6c#egg=openwisp_controller
openwisp-notifications==0.3
openwisp-users==0.5.1
openwisp-utils==0.7.2
packaging==20.8
pandas==1.0.3
paramiko==2.7.2
pathspec==0.5.5
pgi==0.0.11.2
phonenumbers==8.12.15
Pillow==6.2.1
pipenv==2018.11.26
pluggy==0.13.1
psycopg2-binary==2.8.3
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.20.0
pycodestyle==2.6.0
pycparser==2.18
pyflakes==2.2.0
Pygments==2.7.3
PyGObject==3.38.0
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint==2.4.4
PyMySQL==0.9.2
PyNaCl==1.3.0
pyOpenSSL==17.5.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.1
pytest-asyncio==0.14.0
pytest-django==4.1.0
python-dateutil==2.8.1
python-decouple==3.3
python-dotenv==0.8.2
python-editor==1.0.4
python-gnupg==0.4.6
python-ldap==3.2.0
python3-openid==3.1.0
pytz==2018.4
PyYAML==3.13
razorpay==0.2.0
readme-renderer==26.0
redis==3.5.3
regex==2020.2.20
requests==2.13.0
requests-oauthlib==0.3.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scholarly==0.2.5
scp==0.13.3
secrets==1.0.2
semantic-version==2.5.0
service-identity==18.1.0
simplejson==3.17.0
six==1.11.0
social-auth-app-django==3.1.0
social-auth-core==3.1.0
soupsieve==2.0
SQLAlchemy==1.2.7
sqlparse==0.3.1
swapper==1.1.2.post1
systematic==4.8.7
tabulate==0.7.5
termcolor==1.1.0
texttable==0.9.1
toml==0.10.0
twilio==6.37.0
Twisted==20.3.0
txaio==20.12.1
typed-ast==1.4.1
tzlocal==1.5.1
uritemplate==3.0.1
urllib3==1.22
vext==0.7.4
vext.gi==0.7.4
vine==1.3.0
virtualenv==20.0.20
virtualenv-clone==0.5.4
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==0.15.3
whitenoise==5.1.0
wrapt==1.11.2
xlrd==1.2.0
XlsxWriter==1.3.7
xlwt==1.3.0
zipp==3.1.0
zope.interface==5.2.0
