
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: middle;

}

.bgimg-1 {
  background-image: url("../../media/1mob.JPG");
  min-height: 100%;
  webkit-filter: saturate(0%)contrast(120%)sepia(80%);
  filter: saturate(0%)contrast(120%)sepia(80%);
}

.bgimg-2 {
  background-image: url("../../media/3.jpg");
  min-height: 100%;
  webkit-filter: saturate(0%)contrast(110%)sepia(60%);
  filter: saturate(0%)contrast(110%)sepia(60%);
}

.bgimg-3 {
  background-image: url("../../media/2.png");
  min-height: 100%;
  webkit-filter: saturate(0%)sepia(60%);
  filter: saturate(0%)contrast(110%)sepia(60%);
}

body {
  width:500px;
  background: #fafafa;
  background-image: url("../../../media/1.JPG");
  background-attachment: fixed;
  background-size: 100%;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: white;
}

.site-header .navbar-nav .nav-link {
  color: #474b4d;
  margin-left: 15px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffb300;
  border-bottom-style: solid;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  width:900px;
  background: #ffffff;
  padding: 0px 0px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color:#ffb300;
  text-decoration: none;
}

.article-content {
  width:900px;
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.rounded-circle logo-img{
  height:50;
  width:50;
}

.row {
  margin-left: 100px;
}

.-content-section {
  width:900px;
  background: #ffffff;
  padding: 0px 0px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

