{% extends "initiatives/base.htm" %}
{% load crispy_forms_tags %}
{% block content %}

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>

  <body>
  <br><br>
  <article class="media content-section" style="margin-left: 10vw; width:80vw; ">
    <div class="media-body">
      <center>
        <h1 class="article-title" style="align-self: center; margin-top: 10px;">Contact Us</h2>
        <hr style="margin-left: 10px; margin-right: 10px;">
      </center>
    
      <br>
      <h5 style="margin-left: 10px;margin-right: 10px; text-align: left">Phone : +91 90394 90451</h5>
      <h5 style="margin-left: 10px;margin-right: 10px; text-align: left">E-mail : nirmaanpilaniprd@gmail.com</h5>
      <h5 style="margin-left: 10px;margin-right: 10px; text-align: left">Address : Birla Institute of Technology and Science, Pilani,
      Vidya Vihar, Pilani, Rajasthan - 333031</h5>

      <p>
        <h4 style="margin-left: 10px;">Follow Us On :</h4>
        <div style="margin-left: 10px;">
          <a class="fa fa-instagram" href="https://www.instagram.com/nirmaan_pilani/"></a><a
            href="https://www.instagram.com/nirmaan_pilani/"> Instagram</a>&nbsp&nbsp&nbsp<a class="fa fa-facebook"
            href="https://www.facebook.com/NirmaanPilaniPage/"></a><a href="https://www.facebook.com/NirmaanPilaniPage/">
            Facebook</a>
        </div>
      </p>

    </div>
  </article>

    <div class="content-section" style="margin-left: 10vw; width:80vw">
      <form method="POST" style="margin-left: 10px; margin-top: 10px; margin-right: 10px;">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Please Fill Out the Following Details to Reach Out to Us</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline-info" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
{% endblock content %}
