{% extends "initiatives/base.htm" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
  .container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: medium;
    line-height: 200px;
  }

  .container>div {
    margin: 10px;
    border-radius: 6.66%;
  }

  /*relative as span becomes absolute about club*/
  .tile {
    position: relative;
    height: 330px;
    width: 55vw;
    margin-left: 10vw;
    align-self: center;
    line-height: normal;
  }

  .tile .image {
    border-radius: 500px;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-color: #ffb300;
    border-style: inset;
    border-width: 3px;
    transition: all 0.5s ease-out;
  }

  .tile .h3 {
    color: grey;
  }

  .tile .h2 {
    color: #ffb300;
  }

  h4{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /*for mobile phones*/
  @media only screen and (max-width: 350px) {

    .container {
      display: flex;
      flex-wrap: wrap;
      margin-left: auto;

    }

    .title h4{
      margin-left: auto;
      padding: 100px;
      font-size: small;
    }

    .container>div {
      padding: 0;
      background-color: white;
      border-radius: 6.66%;
    }

    .team .span {
      top: -10.66vw;
      left: 0vw;
      width: 40vw;
      height: 4vw;
    }

  }
</style>

<body style="background: #fbfbfb; width: 100%; overflow-x: hidden;">
  <br>
  <center>
    <div class="title">
      <br>
      <h4>Your support will motivate and help Nirmaan to march forward towards its noble mission<br>
        We are currently accepting donations through the following platforms</h4>
    </div>
    <div class="container flex flex-wrap">

      <div class="xl:w-1 md:w-1 p-4">
        <div class="tile bg-gray-100 p-6 rounded-lg" style="height: 400px; background-image: url(../../../media/3.jpg);">
          <div style="margin-top: 20px; line-height: 40px; width: 50%; margin-left: auto; margin-right: auto; z-index: 20; background-color: white; padding: 20px; border-radius: 15px;">
            <img src="../../../media/Razorpay.png" width="65%" style="margin-left: auto; margin-right: auto;">
            <br>
            <p style="line-height: 20px; text-align: justify; font-size: large;">
              Safe, Secure and Quick payments gateway. Donations supported via  UPI, Netbanking,
              E-Wallet and many more options. Please click on the button to make a donation
              today!
            </p>
          
            <a href="https://rzp.io/l/OpPm0Pu"><img src="../../../media/donate.png" width="55%" style="margin-left: auto; margin-right: auto;"></a>
          </div>
        </div>
      </div>

    </div>
  </center>
</body>

  
{% endblock content %}
