{% extends "initiatives/base.html" %}
{% block content %}

<style>
  body {
  width:500px;
  background: #fbfbfb;
  background-attachment: fixed;
  background-size: 100%;
  color: #333333;
  margin-top: 5rem;
  }

  .fa {
  padding: 8px;
  font-size: 25px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  }

  .fa:hover {
  opacity: 0.7;
}

  .fa-facebook {
  background: #3B5998;
  color: white;
}

  .fa-instagram {
  background: rgb(196, 32, 89);
  color: white;
}


</style>

  <div class="body" style="margin-left:135px;">
    <table style="border-collapse: separate; border-spacing: 20px; ;">
      <tr>

        {% for init in inits %} 
          {% if forloop.counter|divisibleby:2 %}
            <td> 
              <div class="card" style="width:550px; ">
                <div class="article-metadata" style="margin-left: 10px;">
                  <small class="text-muted">&nbsp{{ init.date_started }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'init_detail' init.id %}" style="margin-left: 10px;">{{ init.name }}</a></h2>
                <p><img src = "{{ init.banner_image.url }}" width=548px, height=285></p>
                <p style="margin-left: 10px; margin-right:10px; word-wrap: break-word;">{{ init.description|slice:":150" }}... <a href="{% url 'init_detail' init.id %}" style="color: #ffb300;"><i>Read More</i></a></p>
                             
                <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 13px;">
                  <a href="{{ init.ig_url }}" title="Instagram"><img src="../../../media/ig_icon.png" width=33px
                      height=33px></a>&nbsp&nbsp
                  <a href="{{ init.fb_url }}" title="Facebook"><img src="../../../media/fb_icon.png" width=33px
                      height=33px></a>&nbsp&nbsp
                  <a href="{{ init.ketto_url }}" title="Ketto"><img src="../../../media/ketto_icon.png" width=33px height=33px></a>
                </div>                  
               </div> 
                        
            </td>       
      </tr>
    </table>
    <table style="border-collapse: separate; border-spacing: 20px;">
      <tr>
          {% else %}
            <td> 
              <div class="card" style="width: 550px; ">
                <div class="article-metadata" style="margin-left: 10px;">
                  <small class="text-muted">&nbsp{{ init.date_started }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'init_detail' init.id %}" style="margin-left: 10px;">{{ init.name }}</a></h2>
                <p><img src = "{{ init.banner_image.url }}" width=548px, height=285></p>
                <p style="margin-left: 10px; margin-right: 10px;" >{{ init.description|slice:":150" }}... <a href="{% url 'init_detail' init.id %}" style="color: #ffb300;"><i>Read More</i></a></p>
                              
                <div style="margin-left: 10px; margin-top: 10px; margin-bottom: 13px;">
                    <a href="{{ init.ig_url }}" title="Instagram"><img src="../../../media/ig_icon.png" width=33px
                        height=33px></a>&nbsp&nbsp
                    <a href="{{ init.fb_url }}" title="Facebook"><img src="../../../media/fb_icon.png" width=33px
                        height=33px></a>&nbsp&nbsp
                    <a href="{{ init.ketto_url }}" title="Ketto"><img src="../../../media/ketto_icon.png" width=33px height=33px></a>
                </div>
                
              
              </div>             
            </td>  
          {% endif %}
        {% endfor %}          
      </tr>
    </table>
  </div>
{% endblock content %}
