{% extends "initiatives/base.html" %}
{% block content %}
{% include "base/js.html"%}
<style>
  body {
    width: 500px;
    background: #fafafa;
    background-image: url("../../../media/3.jpg");
    background-attachment: fixed;
    background-size: 100%;
    color: #333333;
    margin-top: 5rem;
  }

  .button {
    text-align: center;
    padding-top: 15px;
  }

  .fa {
    padding: 8px;
    font-size: 22px;
    width: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: rgb(196, 32, 89);
    color: white;
  }

  .banner {
    opacity: 0.65;
  }

  .team {
    background-color: #ffb300;
    border-color: #ffb300;
    color: black;
    color: white;
    border-radius: 25px;
    align-self: center;
    width: fit-content;
    padding: 8px;
    font-size: large;
    font-weight: 700;
  }

  .team:hover {
    background-color: black;
    color: white;
    border-radius: 25px;
    align-self: center;
    width: fit-content;
    padding: 8px;
    font-size: large;
    font-weight: 700;
  }

  .social {
    display: inline;
    text-decoration: none;
    color: white;
  }

  .social:hover {
    display: inline;
    color: white;
    text-decoration: none;
    opacity: 0.8;
  }

  .container {
    width: 80vw;
    left: 10vw;
  }
</style>

<article class="card container mb-20">
  <div class="media-body">
    <center>
      <br>
      <div class="image mb-4" style="align-content: center; z-index: 0;">
        <img class="banner" src="{{ init.banner_image.url }}" alt="banner" width=99% style="height: 570px; filter: grayscale(100%);"
          style="opacity: 0;">
        <div class="text card"
          style="vertical-align: middle; background-color: #ffffff00; border: none; width: 70%; top: 23%;">
          <h1 style="color: white; font-size: 40px; font-weight: 800; text-transform: uppercase;">{{ init.name }}</h1>
          <a href="{% url 'volunteers' init.slug %}">
            <button class="team">
              MEET THE TEAM
            </button>
          </a>
          <div>
            <a class="fa fa-instagram social" href="https://www.instagram.com/nirmaan_pilani/"></a>&nbsp
            <a class="fa fa-facebook" href="https://www.facebook.com/NirmaanPilaniPage/"
              style="border-radius: 33px;"></a>&nbsp
            <a class="social" href="#" title="Ketto"><img src="../../../media/ketto_icon.png" width=33px height=33px
                style="border-radius: 33px; display: inline; margin-top: 12px;"></a>
          </div>
        </div>
      </div>
    </center>

    <!---Page Description Goes Here-->
    <div class="description" style="padding: 20px; font-size: large;">
      <p>
        {{ init.description }}
      </p>
    </div>
    <!--Page Description Ends-->

    <center>
      <hr style="width: 60%; color: gray; align-self: center;">
    </center>

    <div class="text-gray-700 body-font relative" style="margin-top: -27px;">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-1">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Get in Touch!</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Leave a note for us and never miss out on a new update
            from Nirmaan</p>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
          <form method="POST" class="flex flex-wrap -m-2">
              {% csrf_token %}
              <div class="p-2 w-1/2">
                <input
                  class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-red-500 text-base px-4 py-2" name="name"
                  placeholder="Name" type="text">
              </div>
              <div class="p-2 w-1/2">
                <input
                  class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-red-500 text-base px-4 py-2" name="email"
                  placeholder="Email" type="email">
              </div>
              <div class="p-2 w-full">
                <textarea
                  class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-red-500 text-base px-4 py-2 resize-none block" name="message"
                  placeholder="Message"></textarea>
              </div>
              <div class="p-2 w-full">
                <button class="flex mx-auto team rounded">Submit</button>
              </div>  
          </form>
        </div>
      </div>
    </div>

  </div>

</article>


{% endblock content %}