{% extends "initiatives/base.html" %}
{% block content %}
{% include "base/js.html"%}
<style>
  body {
  width:500px;
  background: #fafafa;
  background-image: url("../../../media/3.jpg");
  background-attachment: fixed;
  background-size: 100%;
  color: #333333;
  margin-top: 5rem;
  }

  .fa {
  padding: 8px;
  font-size: 22px;
  width: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  }

  .fa:hover {
  opacity: 0.7;
}

  .fa-facebook {
  background: #3B5998;
  color: white;
}

  .fa-instagram {
  background: rgb(196, 32, 89);
  color: white;
}
</style>

  
  <article class="media content-section" style="margin-left: 180px; width:1100px; ">
    <div class="media-body">
      <div class="article-metadata" style="margin-left: 10px; margin-right: 10px;">
        <center><small class="text-muted">{{ init.date_started }}</small></center>
      </div>
      <center><h1 class="article-title" style="align-self: center;">{{ init.name }}</h2></center>

      <img src ="{{ init.banner_image.url }}" width=1070px, height=330px, style="margin-left: 15px; margin-bottom: 0;">
      
        <form action="{% url 'like_initiative' init.id %}">
          <button type="submit" class="btn" and style="background-color:transparent; outline : none;" ><i class="fa fa-heart" style="margin-left: 6px; font-size:24px;color:red"></i><small class="text-muted" style="margin-left:8px; font-size: 16px;">{{ init.likes}} Likes</small></button>
        </form>
      
      
      <p style="margin-left: 10px;margin-right: 10px; text-align: justify;">{{ init.description }}</p>

      <p>
        <h4 style="margin-left: 10px;">Follow on :</h4>
        <div style="margin-left: 10px;">
          <a class="fa fa-instagram" href="{{ init.ig_url }}"></a><a href="{{ init.ig_url }}"> Instagram</a>&nbsp&nbsp&nbsp<a class="fa fa-facebook" href="{{ init.fb_url }}"></a><a href="{{ init.fb_url }}"> Facebook</a>
        </div>
      </p>

      {% if user.is_authenticated %}
        <hr style="margin-left: 10px; margin-right: 10px;">
        <p>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'init_update' init.id %}" style="margin-left: 10px; ">Update Initiative</a>&nbsp&nbsp&nbsp
          <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'init_delete' init.id %}" style="margin-left: 10px; ">Delete Initiative</a>
        </p>
      {% endif %}
       
    </div>
  </article>


  <article class="media content-section" style="margin-left: 180px; width:1100px;">
    <div class="media-body" style="margin-left: 10px; margin-top: 10px;">
      <h3 class="mr-2">Comments
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'add_comment' init.id %}" style="margin-left: 800px; ">Add a Comment</a>
      </h3>
      
      {% for comment in init.comments.all %}
        <div class="comment">
            <small class="text-muted">{{ init.date_started }}</small>    
            <div class="article-content">{{ comment.message|linebreaks }}</div>
            <hr>
        </div>
      {% empty %}
          <p>No comments for this initiative yet...</p>
      {% endfor %}
    </div>
  </article>

  </article>
  

{% endblock content %}
