{% extends "initiatives/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "base/js.html"%}

<style>
  body {
  width:500px;
  background: #fbfbfb;
  color: #333333;
  margin-top: 5rem;
  }

  .content-section {
  width:500px;
  background: #ffffff;
  padding: 0px 0px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  }

</style>

<br>

<article class="media content-section" style="margin-left:330px; width:750px; ">  
  <div class="media-body" style="width:750px;">
    <br>
    <h1 class="article-title" style="align-self: center;">&nbsp {{ init.name }}</h1>

    <img src ="{{ init.banner_image.url }}" width=720px, height=330px, style="margin-left: 15px; margin-right:18px; margin-top: 10px;">
    
    <br><br>
    <p style="margin-left: 17px; margin-right: 20px; font-size: 20px;text-align: justify;">{{ init.description }}</p>

    <br>
    <table>
      <tr>

        <td>
          <form action="{% url 'like_initiative' init.id %}">
            <button type="submit" class="btn" and style="background-color:transparent; outline : none;">
              <i class="fa fa-heart" style="margin-right: 0px; font-size:25px; color:red"></i>
              <small class="text-muted" style="margin-left:8px; font-size: 19px;">{{ init.likes}} Likes</small>
            </button>
          </form>
        </td>

        <td>
          <div style="margin-left: 470px; margin-right: 10px;">
            <a href="{{ init.ig_url }}" title="Instagram"><img src="../../../media/ig_icon.png" width=33px height=33px></a>&nbsp&nbsp
            <a href="{{ init.fb_url }}" title="Facebook"><img src="../../../media/fb_icon.png" width=33px height=33px></a>&nbsp&nbsp
            <a href="{{ init.ketto_url }}" title="Ketto"><img src="../../../media/ketto_icon.png" width=33px height=33px></a>
          </div>
        </td>

      </tr>
    </table>

    
    <hr style="margin-left: 10px; margin-right: 10px;">
    

    {% if user.is_authenticated %}    
      <p>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'init_update' init.id %}" style="margin-left: 10px; ">Update Initiative</a>&nbsp&nbsp&nbsp
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'init_delete' init.id %}" style="margin-left: 10px; ">Delete Initiative</a>
      </p>
    {% endif %}
      
  </div>
</article>

<!--Comments Section Goes Here-->
<article class="media content-section" style="margin-left:330px; width:750px; ">
  
  <div class="media-body" style="width:750px; margin-left:10px; margin-top:10px; margin-right: 10px;">
    <h3 class="mr-2">Comments</h3>
    

    <div style="margin-left: 3px; margin-right: 13px;">
      <p class="text-muted">Add a Comment...</p>
      <form method="POST" style="margin-left: 0px; margin-right: 13px;">
        {% csrf_token %}
        <fieldset class="form-group">
          {{ form|crispy }}
        </fieldset>
        <button class="btn btn-outline-secondary" type="submit">Post</button>       
      </form>
    </div>

    <br>
    {% for comment in init.comments.all reversed %}
      <div class="comment" style="margin-left: 3px; margin-right: 13px;">
          <small class="text-muted">{{ comment.published_on }}</small>    
          <div class="article-content">{{ comment.message|linebreaks }}</div>
          <hr>
      </div>
    {% empty %}
        <p>No comments for this initiative yet...</p>
    {% endfor %}
  </div>
</article>


{% endblock content %}
