{% extends "initiatives/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <body style="background:  #fbfbfb;">
    
    <br>
    <div class="content-section" style="margin-left: 250px;">
      <form method="POST" style="margin-left: 10px;">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Administrator's Login </legend>
          {{ form.as_p }}
        </fieldset>
        <div class="form-group">
          <button class="btn btn-outline" type="submit" style=" border-color: black;">Log In</button>
        </div>
        <div class="form-group">
        </div>
      </form>
    </div>
  </body>
{% endblock content %}
