{% extends "initiatives/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<body style="background:  #fbfbfb;">
    <br>
    <div class="content-section" style="margin-left: 250px;">
        <form method="POST" style="margin-left: 10px; margin-right: 10px;">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Reset Password </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-secondary" type="submit">Change Password</button>&nbsp      
                <a class="btn btn-outline-danger" href="{% url 'home' %}">Cancel</a>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</body>
{% endblock content %}