{% extends "initiatives/base.htm" %}
{% block content %}
{% include "base/js.html"%}
<style>
  body {
  width:500px;
  background: #fafafa;
  background-image: url("../../../media/3.jpg");
  background-attachment: fixed;
  background-size: 100%;
  color: #333333;
  margin-top: 5rem;  
  }

  .button {
    text-align: center;
    padding-top: 15px;
  }

  .fa {
  padding: 8px;
  font-size: 22px;
  width: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  }

  .fa:hover {
  opacity: 0.7;
}

  .fa-facebook {
  background: #3B5998;
  color: white;
}

  .fa-instagram {
  background: rgb(196, 32, 89);
  color: white;
}

.banner {
  opacity: 0.65;
}

.team{
  background-color: #ffb300;
  border-color: #ffb300;
  color: black;
  color: white; 
  border-radius: 25px; 
  align-self: center;
  width: fit-content;
  padding: 8px;
  font-size: large;
  font-weight: 700;
}

.team:hover {
  background-color: black;
  color: white;
  border-radius: 25px; 
  align-self: center;
  width: fit-content;
  padding: 8px;
  font-size: large;
  font-weight: 700;
}

.social {
  display: inline;
  text-decoration: none;
  color: white;
}

.social:hover {  
  display: inline;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.container {
  width: 120vw;
  left: 10vw;
}

@media only screen and (max-width:600px) {

    .team {
      background-color: #ffb300;
      border-color: #ffb300;
      color: black;
      color: white;
      border-radius: 15px;
      align-self: center;
      width: fit-content;
      padding: 8px;
      font-size: small;
      font-weight: 600;
    }

    .team:hover {
      background-color: black;
      color: white;
      border-radius: 15px;
      align-self: center;
      width: fit-content;
      padding: 8px;
      font-size: small;
      font-weight: 600;
    }

    .heading {
      font-size: x-large;
    }

  }

</style>

<br>
<article class="card container mb-20" >
  <div class="media-body" >
    <center>

      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-top: 7px;">
        <div class="carousel-inner">
          
          <div class="carousel-item active">
            <img class="d-block w-100" src="../../../media/cw.jpg" alt="Content Writers" style="height: 570px; opacity: 0.8; ">
            <p class="text card"
              style="background-color: #ffffff00; z-index: 100; color: white; font-size: x-large; font-weight: 600; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; border: none; top: 3vh;">
              Content Writers</p>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../../media/aw.jpg" alt="App and Web Developers" style="height: 570px; opacity: 0.8; ">
            <p class="text card"
              style="background-color: #ffffff00; z-index: 100; color: white; font-size: x-large; font-weight: 600; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; border: none; top: 3vh;">
              Web & App Developers</p>
          </div>
          
          <div class="carousel-item">
            <img class="d-block w-100" src="../../../media/gd.jpg" alt="Graphic Designers" style="height: 570px; opacity: 0.8; ">
            <p class="text card"
              style="background-color: #ffffff00; z-index: 100; color: white; font-size: x-large; font-weight: 600; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; border: none; top: 3vh;">
              Graphic Designers</p>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../../../media/vv.jpg" alt="Video Editors" style="height: 570px; opacity: 0.8; ">
            <p class="text card"
              style="background-color: #ffffff00; z-index: 100; color: white; font-size: x-large; font-weight: 600; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; border: none; top: 3vh;">
              Video Editors</p>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="image mb-4" style="align-content: center; z-index: 0;">
            <div class="text card" style="vertical-align: middle; background-color: #ffffff00; border: none; width: 70%; top: 10%;">
              <h1 style="color: white; font-weight: 800; margin-bottom: 25px;">PUBLIC RELATIONS DEPARTMENT</h1>
              
              <a href="{% url 'prd_volunteers' %}">
                <button class="team">
                  MEET THE TEAM
                </button>
              </a>
            </div>
      </div>
    </center>
    
    <!---Page Description Goes Here-->
    <div class="description" style="padding: 20px; font-size: large;">
      <p>
        The Public Relations Department or PRD, is the face of Nirmaan Organisation, Pilani chapter. PRD is divided into
        subsections which are content writing, videography, graphic designing, app, and website development. We work closely
        with the volunteers and alumni associated with Nirmaan and help create awareness about their work both inside and
        outside of campus. We also undertake the publicity for events like Nirmaan’s flagship donation drive: SORAD(Save One
        Rupee A Day), GREEN week which is celebrated prior to the tech-fest APOGEE, Oasis(Cultural Fest) stalls selling products
        manufactured by our beneficiaries, creating invites for gen-Bitsians for several events and seminars like Joy Of Giving
        Week among many others. We also help to collaborate with other NGOs.The medium for that is through posters, WhatsApp
        posts, videos, and our Instagram page, through the continuous hard work of the members of PRD we are trying to reach as
        many people as possible. Our main motive is to connect people who want to help but can't due to time constraints or the
        knowledge of this domain and people who need help, through Nirmaan volunteers. We are trying to maximize our reach to
        help people for the same cause.
      </p>
    </div>
    <!--Page Description Ends-->

    <center><hr style="width: 60%; color: gray; align-self: center;"></center>
    
    <div class="text-gray-700 body-font relative" style="margin-top: -27px;">
        <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-1">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Get in Touch!</h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Leave a note for us and never miss out on a new update from Nirmaan</p>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">
          <form method="POST" class="flex flex-wrap -m-2">
            {% csrf_token %}
            <div class="p-2 w-1/2">
              <input
                class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-red-500 text-base px-4 py-2"
                name="name" placeholder="Name" type="text">
            </div>
            <div class="p-2 w-1/2">
              <input
                class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-red-500 text-base px-4 py-2"
                name="email" placeholder="Email" type="email">
            </div>
            <div class="p-2 w-full">
              <textarea
                class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-red-500 text-base px-4 py-2 resize-none block"
                name="message" placeholder="Message"></textarea>
            </div>
            <div class="p-2 w-full">
              <button class="flex mx-auto team rounded">Submit</button>
            </div>
          </form>
        </div>
        </div>
      </div>
  
  </div>

</article>


{% endblock content %}
