{% extends "initiatives/base.htm" %}
{% load crispy_forms_tags %}
{% block content %}

  <style>
    a:hover {
      text-decoration: none;
    }
  </style>

  <body>
  <br><br>
  <article class="media content-section" style="margin-left: 10vw; width:80vw; text-align: center;">
    <div class="media-body">
      <center>
        <h1 class="article-title" style="align-self: center; margin-top: 10px;">Site Help</h2>
        <hr style="margin-left: 10px; margin-right: 10px;">
      </center>

      <p>
        In case of any technical problems related to the website, kindly drop a mail to the undersigned
      </p>
      <h4>
        <strong>Sankha Das</strong>
        <br>
      </h4>
      <h5>
        Web Developer, PRD Nirmaan
        <br>
        Email: f20190029@pilani.bits-pilani.ac.in
      </h5>
      <br><br>
    </div>
  </article>

  </body>
{% endblock content %}
